@tailwind base;

@tailwind components;

@font-face {
    font-family: 'Editorial New';
    src: url('/assets/font/EditorialNew-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Editorial New';
    src: url('/assets/font/EditorialNew-Ultralight.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Mabry';
    src: url('/assets/font/Mabry Pro.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Mabry';
    src: url('/assets/font/Mabry Pro Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Mabry';
    src: url('/assets/font/Mabry Pro Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@layer components {
    .link {
        @apply hover:text-blue-800 rounded focus:outline-none focus-visible:ring-2 ring-black transition-colors duration-75 ease-in-out;
    }
}

.prose a {
    @apply px-0.5 -mx-0.5 font-medium link;
}
.prose > div {
    @apply space-y-4 sm:space-y-6;
}

[x-cloak] {
    @apply hidden;
}

@tailwind utilities;
